
<%  include partials/header %>
<% include partials/navigations %>

<div class="container">
    <div class="row">
        <% books.forEach(function(book){ %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <%= book.title%> / <%= book.author %> 
                </div>
                <img src="<%=book.image%>" class="card-img-top" alt="">
                <div class="card-body">
                    <p><%= book.description %></p>
                </div>
                <div class="card-footer">
                    <a href="/delete/<%=book.id%>" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
</body>

</html>